<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio44-me</title>
    <link rel="stylesheet" href="../stylesheets/HomeAanand.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
</head>


<body>

<header>
    <h1>Aanand Mistry</h1>
<nav>
    <ul>
        <li><a href="index.html" target="blank"> HOME </a></li>
        <li><a href="https://linkedin.com/in/aanandmistry/"  target="blank"> LINKEDIN </a></li>
        <li><a href="/PDFs/Aanand Mistry CV - Post Placement.pdf"  target="blank"> RESUMÉ </a></li>
        <li><a href="mailto:aanand.mistry@gmail.com"  target="blank"> CONTACT </a></li>
    </ul>
</nav>

</header>


    <div class="container">
    
        <section class="p1">
    
            <div class="text">
                <h2>I do this stuff for fun.</h2>
                <p> A description of a multi-talented professional who is so incredibly employable now you've seen their
                    stylish site on portfolio44.com</p>
            </div>
            <div class="images" id="R1"> <img src="/images/Measuring.jpg" alt=""></div>
    
        </section>

        <section class="p1"> 
            
            <div class="images" id="L1"><img src="/images/poster1.jpg" alt=""></div>
            <div class="text2">
                <h2>I do this stuff for fun.</h2>
                <p> A description of a multi-talented professional who is so incredibly employable now you've seen their stylish site on portfolio44.com</p>
            </div>
           
        </section>

        <section class="p1"> 
            
            <div class="text">
                <h2>I do this stuff for fun.</h2>
                <p> A description of a multi-talented professional who is so incredibly employable now you've seen their stylish site on portfolio44.com</p>
            </div>
            <div class="images" id="R2"><img src="/images/product1.jpg" alt=""></div>

        </section>

        <section class="p1"> 
            
            <div class="images" id="L2"></div>
            <div class="text2">
                <h2></h2>
                <p> </p>
            </div>
           
        </section>

</div>

    
</body>


</html>