<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pageTitle">p44: Loading...</title>
    <link rel ="stylesheet" href="../stylesheets/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap" rel="stylesheet">
    <script src="js/construction.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js" defer></script>
    <script src="js/scroll.js" defer></script>
    <link href="icons\p44_Favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body class="scroll-anim">
    <nav id="nav">
        <h1 id="heading"><span id="p44">portfolio44/ </span><span id="title"></span></h1>
    </nav>
    <div id="iconGroup">
        <a class="iconan" href="https://www.google.com/"><img class="icons" id="ig" src="icons/ig.svg"></img></a>
        <a class="iconan"><img class="icons" id="lin" src="icons/lin.svg"></img></a>
        <a class="iconan"><img class="icons" id="yt" src="icons/yt.svg"></img></a>
        <a class="iconan"><img class="icons" id="pp" src="icons/pp.svg"></img></a>
    </div>
    
    <div id="sectionGroup" >
        <section class="section">
            <h2 id="sectionTitle1" class="sectionTitle">Loading Section 1 Title...</h2>
            <img id="img1"src="../user_images/maddy_1.jpg">
            <p>Loading Section 1 Paragraph...</p>
        </section>
        <section class="section">
            <h2 class="sectionTitle">Loading Section 2 Title...</h2>
            <img id="img1"src="../user_images/maddy_2.jpg">
            <p>Loading Section 2 Paragraph...</p>
        </section>
        <section class="section">
            <h2 class="sectionTitle">Loading Section 3 Title...</h2>
            <img id="img1"src="../user_images/maddy_3.jpg">
            <p>Loading Section 3 Paragraph...</p>
        </section>
    </div>
    <div class="contents">
        <p>Loading Section 1 link...</p>
        <p>Loading Section 2 link...</p>
        <p>Loading Section 3 link...</p>
    </div>

</body>
</html>