<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pageTitle">p44: Loading...</title>
    <link rel ="stylesheet" href="../stylesheets/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap" rel="stylesheet">
    <script src="js/port.js" defer></script>
    <link href="icons\p44_Favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    <nav>
        <h1>Loading Page Title...</h1>
        <a href="https://www.google.com/"><img id="ig" src="icons/ig.svg"></img></a>
        <a><img id="lin" src="icons/lin.svg"></img></a>
        <a><img id="yt" src="icons/yt.svg"></img></a>
        <a><img id="pp" src="icons/pp.svg"></img></a>
    </nav>
    <div>
        <section>
            <h2>Loading Section 1 title...</h2>
            <p>Loading Section 1 paragraph...</p>
            <img src="../user_images/maddy_1.jpg">
        <section>
        <section>
            <h2>Loading Section 2 title...</h2>
            <p>Loading Section 2 paragraph...</p>
        </section>
        <section>
            <h2>Loading Section 3 title...</h2>
            <p>Loading Section 3 paragraph...</p>
        </section>
    </div>
    <div>
        <p>Loading Section 1 link...</p>
        <p>Loading Section 2 link...</p>
        <p>Loading Section 3 link...</p>
    </div>

</body>
</html>