<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel ="stylesheet" href="stylesheet2.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Muli:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">    
    <script src="script.js"></script>
    <title>Dan Carey</title>
</head>
<body>
    <section id="bar">
        <!--<img src="" alt="User1" id="icon">-->
        <p id="titletext">
            Daniel Carey  
        </p> 
        <p id="emailtext">
            email@outlook.co.uk
        </p>
    </section>

    <section id="mainContent">
        <section id="page1" class="page">
            <div class="dec"></div>
            <section id="row1" class="row">
                <div class="content">
                    content1
                </div>
                <div class="content">
                    content2    
                </div>
            </section>
        </section>
        <section id="page2" class="page">
            <div class="dec"></div>
            <section id="row3" class="row">
                <div class="content">
                   content5
                </div>
                <div class="content">
                    content6
                </div>
            </section>
        </section>
        <section id="page3" class="page">
            <div class="dec"></div>
            <section id="row5" class="row">
                <div class="content">
                    content9
                </div>
                <div class="content">
                    content10
                </div>
            </section>
        </section>
        <section id="page4" class="page">
            <div class="dec"></div>
            <section id="row7" class="row">
                <div class="content">
                    content13
                </div>
                <div class="content">
                    content14</div>
                </section>
        </section>
        <section id="page5" class="page">
            <div class="dec"></div>
            <section id="row9" class="row">
                <div class="content">
                    content17
                </div>
                <div class="content">
                    content18
                </div>
            </section>
        </section>
    </section>
    
</body>
</html>