
body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    
}


header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}



h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    color: #4563cd;
    margin-left: 2em;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    margin-top: 3.5rem;
    margin-right: 10vw;
}

nav li {
    text-decoration: none;
    padding: 0 1em;
}

nav a {
 text-decoration: none;
 color: black;
}

nav a:hover {
    color: #4563cd;
    
}

nav a:active {
    text-decoration: underline;
}



p{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}

h2 {
    
    font-size:3rem;
}

.container {
     height: 100vh;
     width: 100vw;
     position: fixed;
     overflow-y:scroll;
     scroll-snap-type: y mandatory;
     justify-content: center;
     margin:auto auto;
 }

section {
     scroll-snap-align:start;
     height:100vh;
     width:90vw;
     display:flex;
     /*align-items: flex-start;*/
     justify-content: space-between;
     margin-left: auto;
     margin-right: auto;
 }

.text {
    width:50%;
    text-align:left;
    margin-left:4rem;
    margin-bottom: 5rem;
    padding:1rem;
}

.text2 {
    width:50%;
    text-align: right;
    margin-right:4rem;
    padding-bottom:5rem;
    padding-left: 2rem;
}

.images {
    width: 40%;
    height: 60vh;
    margin-top: 5rem;
    margin-left:4rem;
    justify-content: center;
}



img {
    max-width: 100%;
    max-height: 80vh;
}

 
/* Queries */


@media (max-width:1500px) {
    
    h2 {
        font-size:2.5rem;
    }
    
    p {
        font-size:1.5rem;
    }
}


@media (max-width:1000px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width:1000px) {
  
    h1 {
        margin-left: 0em;
    }
    
     nav ul {
         justify-content: center;
         text-align: center;
         margin:0;
         padding: 0;
     }
 
     nav li {
         padding: 0.5em;
     }
 
 }
 

@media (max-width:1000px) {
    body {
        font-size: 0.6rem;
    }

    header{
        height: auto;
    }

    h1 {
        font-size:2rem;
    }

}

    

@media (max-width:1000px) {
    
    .container {
        overflow-y: scroll;
        scroll-snap-align: y proximity;
        height:90vh;
        width:100vw;
        overflow-x: hidden;
        margin-top: 2rem;
        align-content: center;
        
    }
  
    p {
        font-size:1rem;
    }

    h2 {
        font-size:1.5rem;
    }
    
    section {
        flex-direction: column;
        width:85vw;
        height:80%;
        margin: 2rem 2rem auto auto;
        scroll-snap-align: start end;
        align-items: center;
       
    }

    .text {
        width:inherit;
        margin-left: 0;
        margin-bottom:1rem;
        text-align:left;
      
        
    }

    .text2 {
        width:inherit;
        margin-top: 0;
        text-align: right;
        align-items: center;
        margin-right:2rem;
    }

    .images {
        width:100%;
        margin: 0 auto;

    }

    img {
        max-height:45vh;
        max-width:100%;
        margin:0 auto;
        
    }
    
}

@media  (orientation:landscape) {

    section {
        flex-direction: row;
        margin-top:0.2em;
    }

    .text {
        max-width: 50%;
        margin-top:0;
        margin-bottom:auto;
    }

    .images {
        max-width:40%;
    }

    header {
        margin-bottom:2em;
        padding-bottom:0;
    }
    .container {
        margin-top:2em;
    }

  
}


@media (max-width:670px) {

    nav ul{
        font-size:0.75rem;
    }

    header {
        margin-bottom:0;
        padding-bottom:0;
    }
    .container {
        margin-top:0.2rem;
    }

    .text {
        margin-top:0;
        padding-top:0;
        padding-bottom:0;
    }

    img{
        max-height:40vh;
    }

    h2 {
        font-size: 1.25rem;
    }

    p {
        font-size:0.8rem;
    }

}




/* animations */


