*{
    margin: 0;
    padding:0;
    font-family: 'Libre Franklin', sans-serif;
}

:root{
    --bkcol: rgb(255, 255, 255);
    --bordcol: rgb(247, 247, 247);
    --scrollcol: rgb(0, 0, 0);
    --textcol1: black;
    --textcol2: black;
}

#bar{
    box-sizing: border-box;
    background-color:var(--bkcol);
    overflow: hidden;
}
#titletext{
    color: var(--textcol1);
    letter-spacing: -1.5px;
}
#emailtext{
    color: var(--textcol1);
    letter-spacing: -0.5px;
}

#mainContent{
    /* border: solid green 4px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page{
    /* border: solid red 1px; */
    overflow: hidden;
    min-height:100%;
    min-width: 100%;
    display: unset;

}

.row{
    /* border: solid purple 2px; */
}

.content{
    min-width:50%;
    min-height: 50%;
    /* border: solid black 1px; */
    overflow: hidden;
}



/* for Small Devices!*/
@media (max-width: 768px){

    body{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    #bar{
        margin-top: 0;
        position: static;
        height: 5vh;
        width:100vw;
        font-size: 1.5vh;
        /*background-image: url(yves_hor.jpg);
        background-size: cover;*/
        border-bottom: solid var(--bordcol) 1px;

    }
    #titletext{
        position: relative;
        top: 5px;
        margin-left: 1.5vw;
        margin-right: 5vw;
        padding: 0;
        font-size: 3vh;
        font-weight: 500;
        text-align: right;
        float: right;
    }
    #emailtext{
        position: relative;
        top: 5px;
        margin-left: 3vw;
        margin-right: 1vw;
        margin-top: 2.65%;
        padding: 0;
        font-weight: 100;
        text-align: bottom;
        float: right;
    }

    #icon{
        height: 100%;
        float: left;
        margin-left: 7%;
        
    }

    #mainContent{
        overflow-x: hidden;
        overflow-y: scroll;
        margin-top: 0vh;
        height:95vh;
        width: 100vw;;
        float:left;
        scroll-snap-type: y mandatory;
        scroll-padding-top: 0vh;
        flex-direction: column;
        display: flex;
        position: relative;
        top: 0vh;
    }

    .page{
        box-sizing: content-box;
        min-width: 97%;
        max-width: 97%;
        min-height: 97%;
       
        font-size: x-small;
        scroll-snap-align: start;

        overflow-x: scroll;

        display: unset;

        scroll-snap-type: x mandatory;
        scroll-padding-left: 2%;

    }
    .page:nth-child(odd){
        border-right: solid var(--bordcol) 1px;
    }

    .page:nth-child(1){
        margin-top: 5vh;
    }

    .dec{
        float:left;
        box-sizing: border-box;
        position: relative;
        width: 1px;
        height:100%;
        
    }
    
    .row{
        display: flex;
        flex-direction: column;
        width:100%;
        height:100%;

        max-width: 98%;
        box-sizing: border-box;

    }

    .content{
        font-size: 3vmin;
        min-width: 90%;
        scroll-snap-align: start;
    }

    .contentext{
        padding-top: 10%;
        padding-left: 5%;
        font-weight: 600;
    }


    

    .page:nth-child(odd) > .dec{
        background-color: var(--scrollcol);
    }
    .page:nth-child(even) > .dec{
        background-color: var(--bordcol);
    }

    .conimage{
        width: 100%;
    }

    


} /*small devices end*/

/* for Big ol' devices*/
@media (min-width: 769px){
    #bar{
        /*float: left;*/
        height: 10vh;
        width: 100vw;
        border: solid black 1px;
    }

    #titletext{
        font-size: 3.3vh;
        margin-top: 4vh;
        margin-left: 0.5vw;
    }
    
    #emailtext{
        font-size: 1vw;
        margin-left: 0.72vw;
    }

    #mainContent{
        
    }

    .page{
        
    }

    .row{
        
    }

    .content{
       
    }


} /*big ol' devices end*/